body {
  background-color: #2657C9;
}
h1 {
  color: #2497BF;
font-family: 'Bebas Neue', cursive ; 
font-weight: normal;
font-size: 160px;
}

p{
color: #2497BF;
font-family: 'Poppins', sans-serif;
font-weight: 1600;
font-size: 24px;
}