body {
  background-color: #ffffff;
}
h1 {
  color: #000000;
font-family: 'Bebas Neue', cursive ; 
font-weight: normal;
font-size: 160px;
font-weight: 400;
}

p{
color: #000000;
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 24px;
}
button {
  font-family:'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  background: #6CB48F;
  color: #ffffff;
box-shadow: 20px 20px 60px #C3DDD0;
border: none;
padding: 15px 32px;
border-radius: 40px;
display: inline-block;
cursor: pointer;
transition-duration: 0.4s;
}
button:hover{
  color: #000000;
  background-color: #6CB48F;
  padding: 15px 32px;
}